html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 62.5%;
}
a {
   text-decoration: none;

}

body {
   display: flex;
   height: 100vh;
   margin: 0;
   background-color: black;
   color: white;
}

aside {
   width: 20%;
   height: 100%;
   border-right: solid darkgray 1px;
}

header {
   text-align: center;
}

main {
   width: 80%;
   height: 100%;
   margin-left: 1rem;
   margin-right: 1rem;
}

.icons {
   width: 1.5rem;
   fill: white;
}

.big-icons {
   height: 3rem;
   width: 3rem;
   fill: white;
}

.aside-menu {
   font-size: 2rem;
   text-align: center;
}

.main-up {
   height: 20%;
   display: flex;
   flex-wrap: wrap;
}

   .main-up .big-icon-container {
      margin-right: 1rem;
      margin-left: 1rem;
      margin-top: 1rem;
      text-align: center;
   }

.big-icon-container p {
   font-size: 1.4rem;
}

.main-down {
   height: 80%;
}

   .main-down .firstRow {
      border: solid darkgray 1px;
   }



.firstRow a {
   font-size: 1.3rem;
   color: black;
}



table {
   width: 100%;
   border-collapse: collapse;
   text-align: left;
   border: solid darkgray 1px;
}

th {
   color: rgb(88, 196, 220,1)
}

th, td {
   border-bottom: 1px solid #ddd;
   font-size: 1.5rem;
   padding-top: 1rem;
}

tr:hover {
   background-color: rgba(88, 196, 220, 0.5);
}
